[submodule "kernel/linux-stable"]
	path = kernel/linux-stable
	url = https://kernel.googlesource.com/pub/scm/linux/kernel/git/stable/linux-stable
[submodule "kernel/linux-stable-armel"]
	path = kernel/linux-stable-armel
	url = ../linux-stable-armel
